* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: inherit; 
    justify-content: center;
}

.pageHeader {
    height: 115px;
 
    display: flex;
    justify-content: center;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

body {

    height: 100%;
    width: 800px;
    background-color: #0015A0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.main {
    display: flex;
    justify-content: center;
}
.formatDiv {
    display: flex;
    flex-direction: row;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-self: center;
background-color: black;
}

.scoreboard {
    display: flex;
    flex-direction: row; 
    justify-content: center;

}


h3 {
    text-align: center;
    color: yellow;
    font-size: 60px; 

}

li {
    margin: 20px 100px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

li:hover {
    color: rgb(235, 235, 107);
    pointer-events: auto;
}

.subject0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 19%;
    margin: 5px;
    margin-left: 10px;

}

.subject1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 19%;
    margin: 5px;

}

.subject2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 19%;
    margin: 5px;

}

.subject3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 19%;
    margin: 5px;

}

.subject4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 19%;
    margin: 5px;
    margin-right: 10px;

}   

question:hover {
    color: orange;
    pointer-events: auto;
}

.question {
    display: flex;
    justify-content: center;
    background-color: #0015A0;
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    color: yellow;
    display: flex;
    align-items: center;
    height: 90%;
    width: 95%;
    margin: 5px;
    margin-right: 10px;   
}

.category {
    background-color: #0015A0;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    height: 90%;
    width: 95%;
    margin: 5px;
    margin-right: 10px; 
    
}                                   

.scoreboard {
    color: yellow;
    font-family: 'Anton', sans-serif;
    font-size: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal functionality */


.button {
    background: coral;

    padding: 1em 2em;
    color: #f0f0f0;
    border: 0;
}

.button:hover {
    background: #303030;
} 

.modal {
    display: none;
    position: fixed;
    /* places modal on top of the page */
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* elevator if model is too small for text */
    overflow: auto;
    /* last index is opacity. Darkens the background */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    
}

#modal-textbox {
    /* first index controls how far it goes down. second index is left and right margins (centers it on the horizontal) */
    margin: 20% 30px;
    padding: 2%;
    /* line-height: 120%; */
    width: 70%;
    border-radius: 10px;
    background-color: #0015A0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 5px 5px black ;
    font-size: 40px;
    text-transform: none;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;


}    

/* 
.modal-buttons {
    padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
} */

/* **************************** square 0.1 ******************************  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-textbox {
    margin: 20% 30px;
    padding: 2%;
    width: 70%;
    border-radius: 5px;
    background-color: #0015A0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 5px 5px black ;
    font-size: 40px;
    text-transform: uppercase;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-self: flex-start;
}

#input-box01 {
    color: #c0c0c0;
    display: flex;
    align-self: baseline;
    align-self: flex-end;  
}

#submit-btn01 {
    background-color: lawngreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    align-self: baseline;
    align-self: flex-end;
}

#inputs01 {
    display: flex;
    align-items: flex-end;
}

/* **************************** square 0.2 ******************************  */
.modal02 {
    display: none;
    position: fixed;
    /* places modal on top of the page */
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* elevator if model is too small for text */
    overflow: auto;
    /* last index is opacity. Darkens the background */
    background-color: rgba(0, 0, 0, 0.5);
    
}

#modal-textbox02 {
    /* first index controls how far it goes down. second index is left and right margins (centers it on the horizontal) */
    margin: 20% 30px;
    padding: 2%;
    /* line-height: 120%; */
    width: 70%;
    border-radius: 5px;
    background-color: #0015A0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 5px 5px black ;
    font-size: 40px;
    text-transform: uppercase;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

}    















